HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Environment Variables ###
.env
.env.local
.env.*.local

# 민감한 DB 설정 및 API 키가 포함된 프로필 파일 무시
application.yml
application-secret.yml

# application-prod.yml, application-dev.yml 등 뒤에 뭐가 붙든 무시하고 싶다면 아래 패턴 사용
application-*.yml

# Firebase 프라이빗 키 파일 무시
firebase-service-account.json